
$primary-color: white
$secondary-color: #0a625c
$accent-color-0: #0f0f0f

$light-text: azure
$dark-text: #222222

$grid-spacing: 10px

.portfolio-row
  margin: $grid-spacing / 2 0
  border: 0
  padding: 0

.portfolio-grid-item
  margin: $grid-spacing $grid-spacing / 2
  border: 0
  padding: 0

.spacing
  height: 40px

#footer
  background-color: $secondary-color
  color: $dark-text


.social-media
  background-color: $secondary-color
  &:hover
    background-color: $primary-color
    //-webkit-filter: invert(100%) !important


